* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.logo {
    width: 50px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F6f6f6;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;



}

.nav-links {
    display: flex;

}

.nav-links li {
    list-style: none;
    margin: 0 12px;
}


.nav-links a {
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 3px;
    color: rgb(0, 0, 0);
}


.nav-links a:hover {
    color: rgb(0, 0, 0);
    font-weight: bold;
}


header {
    color: white;
    height: 100vh;
    width: 100%;
    background: url(pic/bg.jpg) no-repeat top center /cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    width: 50%;
}

a {
    text-decoration: none;
    color: black;
}



.btn {
    align-items: center;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;

    background-color: #7ec145;
    box-shadow: 0 12px 21px -6px #7ec145;

    color: white;

}

header h1,
about h2 {
    font-size: 8vmin;
    color: white;


}

h1 {

    font-size: 6vmin;
    color: rgb(0, 0, 0);

}

h3 {
    margin-top: 15px;
}

p {
    margin: 20px 0;


}

.text-center {
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #6f8686, #48c6ef);
    color: rgb(255, 255, 255);
    padding: 40px 0;
}

.left {
    width: 30%;
}

.right {
    width: 50%;
}


.about-image {
    width: 350px;
    border-radius: 18px;
}

.details-box {
    display: flex;
}


.details {

    list-style: none;
    margin: 10px 55px 10px 0;
}

.details li {
    margin: 8px 0;
}

.col img {

    height: 220px;
    width: 310px;
    border-radius: 4px 20px 4px 20px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.col {
    text-align: center;
    width: 30%;
}

.education-container {
    background-color: #F2F2F2;
    padding: 40px 0;


}

.education-container h1,
.skill-container h1 {
    padding-bottom: 25px;

}

.row {

    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

i {
    margin-left: 4px;
}

.skill-container {
    padding: 40px 0;





}



.skill-grid-container {

    margin: 0 auto;
    width: 80%;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));






    grid-gap: 20px;
}




.item {
    text-align: center;


    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border-radius: 6px;
    padding: 15px;
}




.item img {
    height: 40px;

}




.row-foot {
    background-image: linear-gradient(to right, #01193b, #203568, #425398, #6972cb, #9393ff);
    padding: 45px 0;
    color: white;
    display: flex;
    justify-content: space-around;

    margin: 0 auto;
}

.col-foot {
    width: 30%;

}

.address-links li,
.brand-links li {
    list-style: none;
    margin: 20px 0;
    margin-right: 25px;

}

.address-links i {
    margin-right: 10px;
}

.brand-links {
    display: flex;

}


.brand-links a,
.address-links a {
    text-decoration: none;
    color: white;
}

.brand-links i {
    font-size: 25px;
}

hr {
    width: 70%;
    color: white;

}

.line-height {
    line-height: 2;
}

.menubtn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

    display: none;

}


.portfolio-container {
    margin: 40px 0;
}

h1 {
    margin-bottom: 30px;
}

.project {

  width: 80%;
  margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

 
    

}


.project a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;

}


.project-item {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px;

    

}





@media only screen and (max-width : 850px) {


    .menubtn {
        display: block;

    }

    .navbar {
        padding: 0;

        flex-direction: column;
    }

    .logo {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    header {

        background: url(pic/bg.jpg) no-repeat left center /cover;
    }

    .nav-links {

        flex-direction: column;
        height: 60vh;
        width: 100%;
        justify-content: center;


        margin-top: -900px;
        transition: all 0.5s ease;

    }

    .nav-links li {
        margin: 10px auto;




    }


    header {
        background: url(pic/bg.jpg) no-repeat top left /cover;
    }

    .header-content {
        width: 75%;


    }

    .about-container {

        width: 100%;
        flex-direction: column;


    }

    .left {
        display: flex;
        justify-content: center;

        width: 100%;

        margin: 0 auto;
    }






    .right {

        width: 90%;
        margin: 50px auto;
    }


    .row {
        flex-direction: column;




    }

    .col {

        padding-bottom: 55px;
        width: 80%;
        margin: 0 auto;





    }

    .skill-grid-container {
        width: 80%;

    }




    .row-foot {
        flex-direction: column;


    }

    .col-foot {
        width: 80%;
        margin: 15px auto;
    }


    .project-item{
        width: 80%;
        margin: 25px auto;
    }






    .mobile-menu {
        margin-top: 0px;



    }

  


}